* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 59, 71);
    font-family: 'Gentium Plus', serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 58, 73);
    color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(41 39 39);
    width: 45vw;
    height: 100%;
    padding: 20px;
    margin-top: 80px;
}

h1 {
    font-size: 36px;
}

@media screen and ( max-width: 500px){
    section {
        background-color: transparent;
        box-shadow: none;
        margin-top: 0px;
    }
}