@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
}

#button1 {
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 30px;
    background-color: rgb(104, 100, 100);
    border-color: rgb(104, 100, 100);
    color: white;
}

#button1:hover {
    cursor: pointer;
}