@font-face {
    font-family: "kaushan";
    src: url(../../font/kaushanscript-regular-webfont.woff) format("woff");
    font-style: normal;
    font-weight: 400;
}

#ol1 {
    list-style: upper-latin;
}

#ol2 {
    list-style: decimal-leading-zero;
}

#ol3 {
    list-style: upper-roman;
}

#ol4 {
    list-style: none;
}

#ul1 {
    list-style: circle;
}

#ul2 {
    list-style: disc;
}

#ul3 {
    list-style: square;
}

#ul4 {
    list-style: none;
}

a {
    color: purple;
}

a:visited {
    color: lime;
}

a:hover {
    color: red;
}

#a2:focus {
    color: orange;
}

#a1:active {
    color: pink;
}

h1 + p {
    font-family: "kaushan", sans-serif;
    font-size: 20px;
}

h2 + p {
    font-family: "Macondo", cursive;
    font-size: 20px;
}
